<%- include('header') -%>
<%- include('nav',{user:user}) -%>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coupon Code Web Design</title>
    <style>
        /* CSS styles */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'poppins', sans-serif;
        }

        .container {
            width: 100%;
            height: 27vh;
            background: #ffffff;
            /* display: flex; */
            align-items: center;
            justify-content: center;
            margin-top: 30px;
        }

        .coupon-card {
            background: linear-gradient(135deg, #ffffff, #adc0b8);
            color: #000000;
            width: 444px;
            /* margin-left: 460px; */
            margin-top: 8px;
            text-align: center;
            padding: 2px 49px;
            border: 1px solid #b9b9b9;
            border-radius: 15px;
            box-shadow: 12px 12px 15px rgba(0, 0, 0, 0.3);            position: relative;
            display: flex;
            align-items: center; /* Align items vertically */
        }

        .logo {
            width: 100px;
            height: auto; 
            border-radius: 8px;
            margin-right: 20px; 
        }

        .coupon-content {
            flex: 1;
            text-align: left; 
        }

        .coupon-card h3 {
            font-size: 28px;
            font-weight: 400;
        }

        .coupon-card p {
            font-size: 15px;
        }

        .coupon-row {
            display: flex;
            align-items: center;
            justify-content: center; /* Center buttons horizontally */
            margin: 25px auto;
            width: fit-content;
        }

        .cpnCode {
            border: 1px dashed #1f1f1f;
            padding: 10px 12px;
            border-right: 0;
            margin-right: 10px;
            background-color: #a1a1a1;

        }

        .cpnBtn {
            border: 1px solid #a3a3a3;
            border-left: none;
            background: #004c3f;
            padding: 6px 4px;
            color: #ffffff;
            cursor: pointer;
            margin-left: 10px;
            border-radius: 4px; 
        }

        .circle1, .circle2 {
            background: #ffffff;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .circle1 {
    left: -27px;
    box-shadow: 10px 0px 4px -5px rgba(83, 83, 83, 0.5);
    border-radius: 50%;
    border-right: 2px solid rgb(126, 126, 126); /* Adjust thickness and color as needed */
}
.offer{
    color: brown;
    font-weight: 900;
}

      
    </style>
</head>
<body>



    
    <div class="container">
        <% coupons.forEach((couponItem, index) => { %>
            <div class="coupon-card">
                <img src="/assets/homeimg/brand-logo2.png" class="logo"> <!-- Assuming productId contains logo path -->
                <div class="coupon-content">
                    <h3>Hypnosofa</h3> 
                    <HR></HR>
                    <span class="offer">Offer: ₹<%=couponItem.discountAmount%></span>
                    <div class="coupon-row">
                        <span class="cpnCode"><%= couponItem.couponCode %></span>
                        <span class="cpnBtn">Copy Code</span>
                    </div>
                    <p class="offer">expires in: <%= couponItem.expiryDate.toISOString().split('T')[0] %></p>
                </div>
                <div class="circle1"></div>
            </div>
            <!-- <div class="circle2"></div> -->
        <% }) %>
    </div>
    



    

    <script>
        // JavaScript code
        var cpnBtns = document.querySelectorAll(".cpnBtn");
        var cpnCodes = document.querySelectorAll(".cpnCode");
    
        cpnBtns.forEach((btn, index) => {
            btn.addEventListener("click", function() {
                navigator.clipboard.writeText(cpnCodes[index].innerHTML);
                btn.innerHTML ="COPIED";
                setTimeout(function(){
                    btn.innerHTML="COPY CODE";
                }, 3000);
            });
        });
    </script>
    
    
</body>
</html>
