<%- include('nav') -%>

<title>User Orders</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
  .row-border {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 15px;
  }

  .row-border {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .field-name {
    font-weight: bold; 
  }
</style>
</head>
<body style="background-color: #fff;">
<div class="container mt-5">
  <% if (Orders.length === 0) { %>
    <div class="alert alert-info" role="alert">
      No orders found.
    </div>
  <% } else { %>
    <% Orders.reverse().forEach((order, index)=> { %>
      <div class="row row-border">
        <div style="border: 1px solid #ccc; border-radius: 5px; padding: 10px;  text-align: center;">
          <h4 style="margin-top: 0;"><%= index + 1 %>. ORDER ID: <%= order._id %></h4>
          <div class="button-container ml-md-auto " style="text-align: end;">
            <button class="btn  download" style="background-color: #ffffff; color: #000000;" onclick="downloadinvoice('<%= order._id %>')"><i class="fa fa-download" style="font-size:24px"></i></button> 
          </div>
        </div>
        <div class="col-md-6 flex"> <!-- Changed col-md-4 to col-md-6 for wider columns -->
          <div style="border: 1px solid #ccc; border-radius: 5px; padding: 10px; margin-bottom: 15px;">
            <div class="border p-3" >
              <h5 class="field-name">PRODUCT DETAILS</h5>
            </div>
            <br>
            <table class="table">
              <thead>
                <tr>
                  <th class="field-name">Product Name</th>
                  <th class="field-name">Quantity</th>
                </tr>
              </thead>
              <tbody>
                <% order.products.forEach(product=> { %>
                <tr>
                  <td><%= product.product.name %></td>
                  <td><%= product.quantity %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6"> 
          <div style="border: 1px solid #ccc; border-radius: 5px; padding: 10px; margin-bottom: 15px;">
            <div class="border p-3"  >
              <h5 class="field-name" >ORDER SUMMARY</h5>
            </div><br>
            <p class="field-name">Total Price: ₹<%= order.totals.discountTotal%>
            <p class="field-name">Ordered Date: <%= order.orderDate %>
            <p class="field-name">Ordered Time: <%= order.orderTime %>
            <p class="field-name">Payment method: <%= order.paymentMethod %>
            </p>
            <p class="field-name">Status: <%= order.status %>
            </p>
            <div class="d-flex"> 
              <!-- <a href="/viewproduct"> <button class="btn btn-success">View Product</button> </a>&nbsp; -->
              <!-- <button class="btn btn-danger cancel-order-btn <%= order.status === 'Cancelled' ? 'cancelled' : '' %>" onclick="cancelOrder('<%= order._id %>')">
                <% if (order.status === 'Cancelled') { %>
                  ✖ Order Cancelled
                <% } else { %>
                  Cancel Order
                <% } %>
              </button>
              <% if (order.status === 'Delivered') { %>
                <button>
                 Return Product
                </button>
                <% }  %> -->

                <button class="btn btn-danger cancel-order-btn <%= order.status === 'Cancelled' ? 'cancelled' : '' %>" onclick="cancelOrder('<%= order._id %>')" <%= order.status === 'Delivered' ? 'disabled' : '' %>>
                  <% if (order.status === 'Cancelled') { %>
                    ✖ Order Cancelled
                  <% } else if (order.status === 'Delivered') { %>
                    ✔ Delivered
                  <% } else { %>
                    Cancel Order
                  <% } %>
                </button>
                <% if (order.status === 'Failed') { %>
                  <button class="btn  ml-1" style="background-color: #004c3f; color: #fff;" onclick="PaymentComplete('<%= order._id %>','<%= order.totals.discountTotal%>')" >
                  Continue Order
                  </button>
                  <% } %>  
            </div>
          </div>
        </div>
      </div>
    <% }); %>
  <% } %>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Include jQuery library -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  function cancelOrder(orderId) {
    $.ajax({
      url: '/cancelOrder', 
      type: 'POST', 
      data: { orderId: orderId },
      success: function(response) {
        console.log('Order canceled successfully:', response);
      },
      error: function(xhr, status, error) {
        console.error('Error canceling order:', error);
      }
    });
  }
</script>

<script>
  document.querySelectorAll('.cancel-order-btn').forEach(button => {
    button.addEventListener('click', function() {
      if (!this.classList.contains('cancelled')) {
        Swal.fire({
          position: "center",
          icon: "success",
          title: "Order Cancelled",
          showConfirmButton: false,
          timer: 1500
        }).then(function() {
          location.reload();
        });
      } else {
        Swal.fire({
          position: "center",
          icon: "info",
          title: "Order already cancelled",
          showConfirmButton: false,
          timer: 1500
        });
      }
    });
  });
</script>


<script>
  function downloadinvoice(orderId) {
    var downloadURL = '/downloadinvoice?orderId=' + orderId;
    fetch(downloadURL)
      .then(response => response.blob())
      .then(blob => {
        const url = window.URL.createObjectURL(new Blob([blob]));
        const a = document.createElement('a');
        a.style.display = 'none';
        a.href = url;
        a.download = `invoice_${orderId}.pdf`;
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
      })
      .catch(error => console.error('Error downloading invoice:', error));
  }
</script>

<script>
  function PaymentComplete(objectId,TotalAmount) {
      $.ajax({
          url: '/GenerateOrderForFailedPayments',
          type: 'GET',
          contentType: 'application/json',
          success: function (response) {
             const orderId = response.orderId;
          },
          error: function (xhr, status, error) {
              alert('An error occurred while processing your request. Please try again later.');
          }
      });
      const paymentData = {
          amount: TotalAmount,
      };
      var options = {
          key: 'rzp_test_Dc1MSlNThSEKkf',
          currency: 'INR',
          name: 'Hypnosofa',
          description: 'Test Transaction',
          image: 'https://example.com/your_logo',
          order_id: orderId, 
          handler: function (response) { 
              var paymentId = response.razorpay_payment_id;
              var orderId = response.razorpay_order_id; 
              var signature = response.razorpay_signature;
              paymentVerify(paymentId, orderId, signature, paymentMethod, addressIndex);
          },
          theme: {
              color: '#3399cc'
          }
      };
  
      var rzp = new Razorpay(options);
      rzp.open();
      rzp.on("payment.failed", function (response) {
          alert('order failed');
          FailedErrorHandler(addressIndex, paymentMethod);
      });
  
      console.log('completing .............')
  }
  
  </script>
<br><br><br><br><br>
<footer class="custom-footer">
  <div class="containerr">
      <div class="row">
          <div class="col-md-3 col-sm-6 custom-col">
              <h3 class="footer-heading">About Us</h3>
              <ul class="footer-nav">
                <li><a href="">About Hypnosofa</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Terms of Service</a></li>
                <li><a href="">Privacy Policy</a></li>
              </ul>
          </div>
          <div class="col-md-3 col-sm-6 custom-col">
              <h3 class="footer-heading">Customer Service</h3>
              <ul class="footer-nav">
                  <li><a href="#">Shipping & Returns</a></li>
                  <li><a href="#">Assembly Instructions</a></li>
                  <li><a href="#">Warranty Information</a></li>
                  <li><a href="#">FAQs</a></li>
              </ul>
          </div>
          <div class="col-md-4 col-sm-6 custom-col">
              <h3 class="footer-heading">Our Branches</h3>
              <ul class="footer-nav">
                <li><a href="">Eranakulam</a></li>
                <li><a href="">Kozhikode</a></li>
                <li><a href="">Trivandrum</a></li>
                <li><a href="">Cochin</a></li>
              </ul>
          </div>
          <div class="col-md-2 col-sm-6 custom-col">
              <h3 class="footer-heading">Follow Us</h3>
              <ul class="social-icons">
                  <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                  <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  <li><a href=""><i class="fab fa-instagram"></i></a></li>
                  <li><a href=""><i class="fab fa-pinterest"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="copyright">
      <p>&copy; 2024, Hypnosofa. All Rights Reserved.</p>
  </div>
</footer>

<style>
  .custom-footer {
  background-color: #004c3f;
  padding: 30px 0;
}

.custom-footer .containerr {
  max-width: 1900px;
  margin: 0 auto;
}

.custom-col {
  padding-right: 25px;
  padding-left: 69px;
}


.custom-footer .footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
  color: #ffffff;
}

.custom-footer .footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-footer .footer-nav li {
  margin-bottom: 10px;
}

.custom-footer .footer-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.custom-footer .footer-nav a:hover {
  color: #999;
}

.custom-footer .social-icons {
  display: flex;
  margin: 0;
  padding: 0;
}

.custom-footer .social-icons li {
  margin-right: 10px;
  list-style-type: none;
}

.custom-footer .social-icons a {
  color: #ffffff;
  font-size: 18px;
}

.custom-footer .social-icons a:hover {
  color: #c5c5c5;
}

.custom-footer .copyright {
  text-align: center;
  padding-top: 15px;
  color: #ffffff;
}

.custom-footer .copyright p {
  margin: 0;
  font-size: medium;
  color: #9a9a9a;
}

</style>















